안녕하세요. 수강생 여러분~! Chapter14 ~ 16 수업은 잘 들으셨나요?

Chapter14 ~ 16의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제1]__

주어진 정수 x와 자연수 n을 이용해, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 출력해주세요   
<br>

x = 2, n =5

In [ ]:
#2부터 시작해서 2만큼 증가하며 총 값 갯수가 5인 리스트 만들기
a = list(range(2,11,2))
print(a)
'''
x=2

#출력할 리스트생성
li =[]
#시작할 숫자 설정
i = x
while 1:
    li.append(i)
    a =len(li)
    if a == n :
        break
    i += x
#리스트 출력
print(li)
'''

[2, 4, 6, 8, 10]

'\n#출력할 리스트생성\nli =[]\n#시작할 숫자 설정\ni = x\nwhile 1:\n    li.append(i)\n    a =len(li)\n    if a == n :\n        break\n    i += x\n#리스트 출력\nprint(li)\n'

---

__[문제2]__

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 *으로 가린 문자열이 출력되도록 코드를 작성해주세요

phone_number = "01012347890"  
<br>

출력 예) "0101234****"

In [136]:
#전화번호가 문자열로 주어짐
#뒷자리만 ****로 가리기

phone_number = "01012347890"
a = phone_number[-4:]
b = phone_number.replace(a,"****")
print(b)

0101234****

---

__[문제3]__

숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"  
234567 → "23four5six7"  
10203 → "1zerotwozero3"    

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나,   
혹은 바뀌지 않고 그대로인 문자열 s가 주어졌을때
s가 의미하는 원래 숫자를 출력하도록 코드를 작성해주세요

s = "77three4one

---
참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

숫자	영단어  
0	zero  
1	one  
2	two  
3	three  
4	four  
5	five  
6	six  
7	seven  
8	eight  
9	nine

In [ ]:
#주어진 s에 있는 영문을 모두 숫자로 바꾸어 출력하기
s = "77three4one" 
dict = {
    "zero" : "0",
    "one" : "1",
    "two" : "2",
    "three" : "3",
    "four" : "4",
    "five" : "5",
    "six" : "6",
    "seven" : "7",
    "eight" : "8",
    "nine" : "9",
}
#for문으로 dcit에 있던 키와 벨류 값들이 a와b로 나눠짐
#리플레이스를 통해 s에 있는 a가 b로 변경됨
for a,b in dict.items():
    s = s.replace(a,b)
print(s)

77341

---

__[문제4]__

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다. 

 행렬 arr1과 arr2가 주어졌을 때, 행렬 덧셈의 결과를 출력하는 코드를 작성해주세요(result와 같은 결과가 출력되도록 작성)

arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

result = [[4,6],[7,9]]

In [ ]:
arr1 = [[1,2],[2,3]]
arr2 = [[3,4],[5,6]]
#각각 리스트의 

result = []#답 넣을 리스트 만들기
for a,b in zip(arr1,arr2):#각리스트의 각 행을 a,b에 대임
    v=[]#각 a,b에서의 각 열의 합을 담기위한 리스트
    for c,d in zip(a,b):#각 a,b의 각 열을 c,d에 대입하고 더하기
        v.append(c+d)#리스트에 담기
    result.append(v)#답 리스트에 담기
print(result)

'''
a = arr1[0][0]+arr2[0][0]
b = arr1[0][1]+arr2[0][1]
c = arr1[1][0]+arr2[1][0]
d = arr1[1][1]+arr2[1][1]
resuit = [[a,b],[c,d]]
print(resuit)
'''
#조교님 정답
result = []#결과값을 받을 리스트
for a,b in zip(arr1,arr2):#arr1과 arr2의 행1,행2를 각각 a,b 대입 
    re = [c+d for c,d in zip(a,b)]#a,b에 대입된 각 행의 열1열2를 c,d에 대입하고 더한후 re에 추가
    result.append(re)#re를 result에 추가
print(result)

[[4, 6], [7, 9]]
[[4, 6], [7, 9]]

---

__[문제5]__

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.   
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.   
주어진 x를 이용해 x가 하샤드 수인지 아닌지 검사하는 코드를 작성해주세요

x = 17

----

입출력 예시
x	결과값  
10	true  
12	true  
11	false  
13	false

In [176]:
#히샤드 수 자릿수 합으로 수가 나누어져야함
#x=17,x가 히샤드 수인지 구분
x = 17 
#x의 십으자리수와 1의 자리수 더하기
a = str(x)#x가 int라 인덱스로 값이 안되므로 str로 변경
b = int(a[0]+a[1])#인덱스로 각 자릿수 값 더하기
print(x%b==0)#나눠지면 나머지가 없어야하니까 나머지는 0 이라는 boolean
'''
li=[10,12,11,13]
print(type(len(li)))


for x in li :
    if x % len(str(x)) == 0:
        print(x)
        print(True)
    else :
        print(x)
        print(False)
'''

True

'\nli=[10,12,11,13]\nprint(type(len(li)))\n\n\nfor x in li :\n    if x % len(str(x)) == 0:\n        print(x)\n        print(True)\n    else :\n        print(x)\n        print(False)\n'

---

__[문제6]__

String형 배열 seoul의 element중 "Kim"의 인덱스 x를 찾아, "김서방은 x에 있다"는 String을 출력하는 코드를 작성해주세요.   

seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

seoul = ["Jane", "Kim"]

<br>
출력 예) "김서방은 1에 있다"

In [ ]:
seoul = ["jane","park","kim"]

for i in seoul :#i에 seoul값들 대입
    if i == "kim" :#kim 찾기
        a = seoul.index(i)#kim 인덱스 찾기
        print(f"김서방은 {a}에 있다")#kim 인덱스 값 넣기

김서방은 2에 있다

---

__[문제7]__

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 주어집니다.   
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 출력해주세요

numbers = [5,8,1,0,6,9]

In [ ]:
num = [5,8,1,0,6,9]
#set 활용
#0부터9까지의 리스트 만들기
#만든 리스트 set로 형변환
#num set로 형변환
#만든 리스트에서 num 빼기(차집합)
a = set(list(range(10)))
b = set(num)
print(sum(a-b))

'''
a = []
for i in range(0,10):
    if i in num:
        pass
    else :
        a.append(i)
print(a)
print(num)
sum(num)+sum(a)
'''

#문제의도파악
#어떻게 풀지를 한글로 정의
#그 한글로 정의 해둔걸 보고 코드화

#zip에 대해서 공부
#------------조교님-----------------
#a = set(range(10))
#nn = set(num)
#c = a-nn
#result = sum(c)
#print(result)

16

'\na = []\nfor i in range(0,10):\n    if i in num:\n        pass\n    else :\n        a.append(i)\nprint(a)\nprint(num)\nsum(num)+sum(a)\n'